
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <div id="app">
        {{ message }}
    </div>
</div>

@section scripts {
    <script>
        const app = {
            data() {
                return {
                    message: 'Hello Vue.js!'
                }
            }
        };
        Vue.createApp(app).mount('#app');
    </script>
}