
@{
    ViewData["Title"] = "Index";
}

<section class="section">
    <div class="container">
        <h1 class="title">Hello Bulma!</h1>
        <p id="app" class="subtitle">
            {{ message }}
        </p>
    </div>
</section>

@section scripts {
    <script>
        const app = {
            data() {
                return {
                    message: 'Hello Vue.js!'
                }
            }
        };
        Vue.createApp(app).mount('#app');
    </script>
}